*{
		margin:0px;
		padding:0px;
        box-sizing: border-box;
        
			}

.encabezado{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #8b2020;
  padding: 9px 30px;
  color: white;
  
}

.menu{
  margin-bottom: 14px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  margin-right:10%;
}

.logo{
  width: 70px;
  height: auto;
  border-radius: 10%;
  margin-left: 230%;
}

.textt{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
		width: 100%;
		font-family:Arial, Helvetica, sans-serif;
        font-size:125%;
        
        
			}
			
ul, ol {
		list-style:none;
			}
			
.nav > li {
		float:left;
        margin-top: 0px;
      
			}
			
.nav li a {
		color:#fff;
        
		text-decoration:none;
		padding:10px 12px;
		display:block;
        
			}
			
.nav li a:hover {
		background-color:#4b4545;
			}
			
.nav li ul {
        background-color: #3b2f2f;
		display:none;
		position:absolute;
		min-width:140px;
		
			}
			
.nav li:hover > ul {
				display:block;
			}
			
.nav li ul li {
				position:relative;
			}
			
.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			